
<mat-toolbar color= "primary">
    <span><button routerLink="/" mat-stroked-button color="">Estafeta App</button></span>
    
  
</mat-toolbar>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-selection-list [multiple]="false">
            <mat-list-option routerLink="/estafeta">
                <mat-list-item role="listitem">Estafeta</mat-list-item>
                
            </mat-list-option>
            <mat-list-option>
                <mat-list-item role="listitem">Espediente</mat-list-item>
                
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content>
               <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
